{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "importOrder": [
    "^@store/(.*)$",
    "^(@hoc|@pages)/(.*)$",
    "^@modals/(.*)$",
    "^(@components|@hooks)/(.*)$",
    "^(@utils|@styles)/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}
